@font-face {
  font-family: Bebas-Regular;
  src: url('/public/fonts/Bebas-Regular.otf');
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Bebas-Regular, sans-serif;

  background-color: #81b1e0;
  /* background: linear-gradient(0deg, #3a5177, #81b1e0); */
}

h1 {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  margin: 0;
  color: white;
}

#root-window {
  /* height: 100%; */
  height: 400%;
}

#render-target {
  position: relative;
  height: 25%;
  background: linear-gradient(0deg, #3a5177, #81b1e0);
  /* height: 100%; */
}

.container {
  background-color: #00000048;
  padding: 8px;
  margin: 16px;
  border-radius: 16px;

  box-shadow: 0 2px 0 0px #023a71;
}



.extended-container {
  position: absolute;
  background-color: #00000048;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 0px;
  border-radius: 16px;
  height: 300px !important;
  overflow-y: scroll;

  box-shadow: 0 2px 0 0px #023a71;

  /* display: flex; */
  /* flex-direction: column; */
  justify-content: flex-start;
  visibility: hidden;
} 

.tool-panel {
  position: absolute;
  height: auto;
  top: 64px;

  display: flex;
  flex-direction: row;
}

#ui-toolbar {
  /* position: absolute;
  height: auto;
  top: 64px; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ui-button {
  height: 64px;
  width: 64px;
  margin: 6px 0;

  transition: background-color 0.25s ease-in-out;
  
  background-color: #1e2331cd;
  border: none;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-extended-button {
  height: 56px;
  width: 56px;
  margin-top: 6px;
  margin-bottom: 12px;
  margin-left: 0px;
  margin-right: 0px;

  transition: background-color 0.25s ease-in-out;
  
  background-color: #1e2331cd;
  border: none;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* #button-select {
  background-color: hsl(36, 0%, 60%);
  box-shadow: 0 6px 0 0px hsl(36, 0%, 40%);
}

#button-bulldoze {
  background-color: hsl(342, 100%, 77%);
  box-shadow: 0 6px 0 0px hsl(342, 100%, 30%);
}

#button-road {
  background-color: hsl(201, 100%, 80%);
  box-shadow: 0 6px 0 0px hsl(201, 100%, 30%);
}

#button-play {
  background-color: hsl(56, 100%, 80%);
  box-shadow: 0 6px 0 0px hsl(56, 100%, 30%);
}

#button-entrance {
  background-color: hsl(110, 100%, 80%);
  box-shadow: 0 6px 0 0px hsl(110, 100%, 30%);
}

#button-plot {
  background-color: hsl(200, 80%, 70%);
  box-shadow: 0 6px 0 0px hsl(200, 80%, 30%);
}

#button-ride {
  background-color: hsl(30, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(30, 60%, 40%);
}

#button-stand {
  background-color: hsl(270, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(270, 60%, 40%);
}

#button-setting {
  background-color: hsl(160, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(160, 60%, 40%);
}

#button-download {
  background-color: hsl(240, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(240, 60%, 40%);
} */

#button-select {
  background-color: hsl(36, 0%, 60%);
  box-shadow: 0 6px 0 0px hsl(36, 0%, 40%);
}

#button-bulldoze {
  background-color: hsl(342, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(342, 60%, 40%);
}

#button-road {
  background-color: hsl(201, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(201, 60%, 40%);
}

#button-play {
  background-color: hsl(56, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(56, 60%, 40%);
}

#button-entrance {
  background-color: hsl(110, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(110, 60%, 40%);
}

#button-ride {
  background-color: hsl(30, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(30, 60%, 40%);
}

#button-stand {
  background-color: hsl(270, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(270, 60%, 40%);
}

#button-setting {
  background-color: hsl(160, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(160, 60%, 40%);
}

#button-plot {
  background-color: hsl(0, 0%, 80%);
  box-shadow: 0 6px 0 0px hsl(0, 0%, 50%);
}

#button-download {
  background-color: hsl(240, 60%, 70%);
  box-shadow: 0 6px 0 0px hsl(240, 60%, 40%);
}


.ui-button.selected {
  /* background-color: #121622d3;
  outline: 2px solid rgb(227, 227, 227); */
  /* filter: brightness(1.3); */
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: none;
  outline: 3px solid rgb(227, 227, 227);
}

.ui-extended-button.selected {
  /* background-color: #121622d3;
  outline: 2px solid rgb(227, 227, 227); */
  /* filter: brightness(1.3); */
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: none;
  outline: 3px solid rgb(227, 227, 227);
}

.ui-button:not(.selected):hover {
  /* background-color: #121622d3; */
  filter: brightness(1.1);
  box-shadow: none;
}

.ui-container {
  background-color: #33333355;
  padding: 16px;
}

.toolbar-icon {
  width: 36px;
  height: 36px;
  pointer-events: none;
  /* filter: brightness(0) invert(1); */
}

/* TITLE BAR */

#title-bar {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 32px;

  background-color: #00000048;
  border-radius: 16px;
  color: white;
  padding: 8px;
  margin: 16px;

  box-shadow: 0 2px 0 0px #023a71;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-bar-right-items {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

.title-bar-left-items {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}


.title-bar-items {
  flex: 1 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#time-elapsed-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: 4px;
  filter: brightness(0) invert(1);
}

#person-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: 4px;
  filter: brightness(0) invert(1);
}

#person-angry-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: 4px;
  filter: brightness(0) invert(1);
}

#simulation-time-elapsed {
  margin-left: 8px;
}

#cost-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: 4px;
  filter: brightness(0) invert(1);
}

#fixed-cost-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 2px;
  filter: brightness(0) invert(1);
}

#variable-cost-icon {
  position: relative;
  width: 20px;
  height: 20px;
  top: 2px;
  filter: brightness(0) invert(1);
}

.cost-additional-div {
  font-size: 0.6em !important;

}

#revenue-icon {
  position: relative;
  width: 32px;
  height: 32px;
  top: 4px;
  filter: brightness(0) invert(1);
}

#population-counter {
  margin-left: 8px;
}

/* INFO PANEL */

#info-panel {
  position: fixed;
  top: 64px;
  right: 0px;
  margin: 16px;
  padding: 12px; 
  width: 300px;

  background-color: #00000048;
}

.info-heading {
  text-align: center;
  font-size: 1em;
  margin: 8px 0px;
  background-color: #191a21b1;
  box-shadow: 0 2px 0 0px #000000b0;
  color: white;
  border-radius: 16px;
  padding: 4px;
}

.info-label {
  margin-left: 12px;
  font-size: 1em;
  color: rgb(193, 193, 193)
}

.info-value {
  margin-left: 4px;
  font-size: 1.2em;
  color: #ffffff;
  text-align: right;
}

.info-citizen-list {
  margin-top: -4px;
  list-style-type: none;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
}

.info-citizen {
  background-color: #222941a0;
  color: white;
  padding: 4px 16px;
  margin: 4px 0;
  border-radius: 8px;
  box-shadow: 0 2px 0 0px #151820;
}

.info-citizen-name {
  font-size: 0.8em;
}

.info-citizen-icon {
  position: relative;
  width: 16px;
  height: 16px;
  top: 2px;
  margin-right: 2px;
  filter: brightness(0) invert(1);
}

.info-citizen-details {
  font-size: 0.9em;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  /* gap: 16px; */
}

.info-citizen-details-item {
  flex: 1 1 30%;
}


.setting-input-container {
  position: absolute;
  background-color: #00000048;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 0px;
  border-radius: 16px;
  height: 700px !important;
  width: 500px;
  overflow-y: scroll;

  box-shadow: 0 2px 0 0px #023a71;

  /* justify-content: flex-start; */
  visibility: hidden;
}

.setting-label {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.setting-input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  border: 3px solid #000;
  border-radius: 5px;
  /* height: 50px; */
  line-height: normal;
  color: #282828;
  /* display: block; */
  margin-left: 3px;
  /* width: 100%; */
  box-sizing: border-box;
  user-select: auto;
  font-size: 15px;
  padding: 0 6px;
  padding-left: 12px;
  :focus{
      border: 3px solid #5551ff;
  }
  
}

.setting-item {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 3px;
}

.setting-item-elements {
  flex: 1 1 33%;
  margin: auto;
}


details {
  user-select: none;
}

details>summary img.setting-expand-icon {
  width: 16px;
  height: 16px;
  transition: all 0.3s;
  filter: brightness(0) invert(1);
  /* margin-left: auto; */
}

details[open] summary img.setting-expand-icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

/* Plots  */
.road-plot-container {
  width: 500px;
  /* height: 250px; */
  margin-top: 30px;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.717);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.visitor-all-plots {
  display: flex;
  justify-content: flex-start;
}

.visitor-plot-container {
  width: 400px;
  /* height: 250px; */
  margin-top: 30px;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.717);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ride-status-all-plots {
  display: flex;
  justify-content: flex-start;
}

.ride-queue-all-plots {
  display: flex;
  justify-content: flex-start;
}

.ride-queue-plot-container {
  width: 400px;
  /* height: 250px; */
  margin-top: 30px;
  align-items: center;
  text-align: center;
  background-color:  rgba(255, 255, 255, 0.717);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ride-revenue-all-plots {
  display: flex;
  justify-content: flex-start;
}

.ride-revenue-plot-container {
  width: 400px;
  /* height: 250px; */
  margin-top: 30px;
  align-items: center;
  text-align: center;
  background-color:  rgba(255, 255, 255, 0.717);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stand-all-plots {
  display: flex;
  justify-content: flex-start;
}

.stand-plot-container {
  width: 400px;
  /* height: 250px; */
  margin-top: 30px;
  align-items: center;
  text-align: center;
  background-color:  rgba(255, 255, 255, 0.717);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}